[submodule "vendor/github.com/google/brotli"]
	path = vendor/github.com/google/brotli
	url = https://github.com/google/brotli.git
[submodule "vendor/github.com/klauspost/compress"]
	path = vendor/github.com/klauspost/compress
	url = https://github.com/klauspost/compress.git
[submodule "vendor/github.com/klauspost/cpuid"]
	path = vendor/github.com/klauspost/cpuid
	url = https://github.com/klauspost/cpuid.git
[submodule "vendor/github.com/valyala/bytebufferpool"]
	path = vendor/github.com/valyala/bytebufferpool
	url = https://github.com/valyala/bytebufferpool.git
[submodule "vendor/github.com/valyala/tcplisten"]
	path = vendor/github.com/valyala/tcplisten
	url = https://github.com/valyala/tcplisten.git
[submodule "vendor/github.com/valyala/fasthttp"]
	path = vendor/github.com/valyala/fasthttp
	url = https://github.com/cipriancraciun/go-fasthttp.git
[submodule "vendor/github.com/cipriancraciun/go-cdb-lib"]
	path = vendor/github.com/cipriancraciun/go-cdb-lib
	url = https://github.com/cipriancraciun/go-cdb-lib.git
